@charset "UTF-8";

html {
    font-size: 15px;
}

body {
    font-family: 'Karla', sans-serif;
    letter-spacing: -0.013em;
    line-height: 1.44;
}

@media (min-width: 48rem) {
    html {
        font-size: 16px;
    }
}

.btn {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    font-weight: 700;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.btn:hover {
    text-decoration: none;
    transition: color 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out;
}

.btn-block {
    width: 100%;
}

.btn--float {
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.08);
}

.btn--float:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.08);
}

.newline {
    display: block;
}

.text-center {
    text-align: center;
}


/*
 * typo
 */

.text-display1 {
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1;
}

.text-title {
    margin-bottom: 1.5rem;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.2;
}

.text-subtitle {
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.3;
}

.text-body2 {
    font-size: 0.875rem;
    line-height: 1.5;
}


/*
 * single-price
 */
.single-price__wrapper {
    overflow: hidden;
    max-width: 24rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.06);
}

.single-price__divider {
    margin-bottom: 2rem;
}

.single-price__text+.single-price__text {
    margin-top: 1rem;
}

.single-price__body {
    padding: 2.5rem 3rem;
}

@media (min-width: 44rem) {
    .single-price__wrapper {
        max-width: 42rem;
    }

    .single-price__secondary {
        position: relative;
    }

    .single-price__secondary::before {
        content: '';
        z-index: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        background-color: hsl(179, 50%, 51%);
    }

    .single-price__secondary::after {
        content: '';
        display: block;
        clear: both;
    }

    .single-price__secondary .single-price__body {
        z-index: 1;
        position: relative;
        float: left;
        width: 50%;
    }
}


/*
 * specific
 */

.single-price__cta .text-display1 {
    margin-right: 0.5rem;
}

.single-price__feature .newline {
    display: none;
}

@media (min-width: 44rem) {
    .single-price__feature .newline {
        display: block;
    }
}


/*
 * theme
 */

.btn-secondary {
    color: #fff;
    background-color: hsl(71, 73%, 54%);
    border-color: hsl(71, 73%, 54%);
}

.theme-primary {
    color: rgba(255, 255, 255, 0.92);
    background-color: hsl(179, 62%, 43%);
}

.theme-primary--light {
    color: rgba(255, 255, 255, 0.7);
    background-color: hsl(179, 50%, 51%);
}

.bg-gray--pale {
    background-color: hsl(204, 43%, 93%);
}

.bg-white {
    background-color: #fff;
}

.text-primary {
    color: hsl(179, 62%, 43%);
}

.text-primary--gray {
    color: hsl(218, 22%, 67%);
}

.text-secondary {
    color: hsl(71, 73%, 54%);
}

.text-gray--pale {
    color: hsl(204, 43%, 93%);
}

.text-white {
    color: #fff;
}

.text-light {
    color: rgba(255, 255, 255, 0.7);
}