@charset "UTF-8";

/*
// Base
//
// Normalization of HTML elements, manually forked from Normalize.css to remove
// styles targeting irrelevant browsers while applying new styles.
//
// Normalize is licensed MIT. https://github.com/necolas/normalize.css
*/

/*
 * Document
 */

*,
*::before,
*::after {
  /* padding 과 border 가 요소 너비에 포함되도록 설정 */
  box-sizing: border-box;
}

html {
  /* 모든 브라우저에 기본 폰트 및 line-height 설정 */
  font-family: sans-serif;
  line-height: 1.15;
  /* window 폰의 IE 나 iOS 에서 방향 변경시 폰트 사이즈 수정되는 현상 막음 */
  -webkit-text-size-adjust: 100%;
  /* @viewport 설정시 IE11 과 Edge 에서 스크롤바가 컨텐트에 겹치므로 겹치지 않고 자동 숨김 되지 않도록 강제 */
  -ms-overflow-style: scrollbar;
  /* iOS 에서 완전히 투명으로 보이기 위해 기본 탭 하이라이트 변경 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* IE10 이하 및 오래된 브라우저에서 새 HTML5 요소들 맞게 표시 */
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* 여백 초기화 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
dl,
blockquote,
pre,
figure,
input,
button,
select,
optgroup,
textarea,
fieldset {
  margin: 0;
}

/*
 * Body
 */

/*
  -apple-system, // Safari for OS X and iOS (San Francisco)
  BlinkMacSystemFont, // Chrome < 56 for OS X (San Francisco)
  "Segoe UI", // Windows
  "Roboto", // Android
  "Helvetica Neue", Arial, sans-serif, // Basic web fallback
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default; // Emoji fonts
 */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, Noto Sans, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  /* 명시적으로 기본값을 지정해 하위 요소들이 상속 받을 수 있게 함 */
  text-align: left;
  /* 기본 배경색 지정 */
  background-color: #fff;
}

body,
input,
textarea,
select,
button {
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
 * Future-proof rule: in browsers that support :focus-visible,
 * focus outline 을 표시하지 않는 요소에 프로그램적으로 포커스가 갔을때 focus outline 숨김
 *
 * See https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible
 * and https://developer.paciellogroup.com/blog/2018/03/focus-visible-and-backwards-compatibility/
 */
[tabindex='-1']:focus:not(:focus-visible) {
  outline: 0 !important;
}

/*
 * Content grouping
 *
 */

hr {
  box-sizing: content-box;
  height: 0;
  /* Edge와 ie에서 overflow 표시 */
  overflow: visible;
}

/*
 * Typography
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
 * Abbreviations
 */

abbr[title] {
  /* Chrome, Edge, IE, Opera, 그리고 Safari 에서 테스트 표시줄 스타일 정정 */
  text-decoration: underline;
  text-decoration: underline dotted;
  /* 바뀐 행위를 나타내기 위해 명시적으로 커서를 추가 */
  cursor: help;
  /* Firefox 39이하에서 나타나는 테스트 하단 테투리 제거 */
  border-bottom: 0;
  /* 텍스트 표시줄이 건너뛰지 않도록 설정 */
  text-decoration-skip-ink: none;
}

address {
  font-style: normal;
  line-height: inherit;
}

b,
strong {
  /* Chrome, Edge, 그리고 Safari 에서 올바른 글자 굵기 정정 */
  font-weight: bolder;
}

small {
  /* 모든 브라우저에서 글자 크기 정정 */
  font-size: 85%;
}

/* 
 * 모든 브라우저에서 sub 과 sup 요소들이 즐 간격 영향 받지 않도록 설정 
 */

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
 * Links
 */

a {
  text-decoration: none;
  /* IE 10 에서 현재 열려 있는 링크에 나타나는 회색배경색을 제거 */
  background-color: transparent;
}

a:hover {
  text-decoration: underline;
}

/*
 * tablindex 없이는 명시적으로 키보드 포커스가 가능하지 않도록 href 속성이 없는 플레이스 홀더 링크/네임 앵커에 대한 스타일 재지정
 * 단순히 a[href] 로 스타일 지정이 간단할 수 있지만, 많은 다른 스타일내에서 고치기엔 복잡한 특정 이슈 유발 가능성 존재
 * See https://github.com/twbs/bootstrap/issues/19402
 */

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

/*
 * Code
 */

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  /* 모든 브라우저에서 이상한 em 글자 크기 정정 */
  font-size: 1em;
}

pre {
  /* 바깥 영역을 깨지 않도록 내용 영역 오버플로우 설정 */
  overflow: auto;
  /* IE11 와 Edge 에서 @viewport 설정시 스크롤바가 내용을 덮는 현상에서 내용 덮지 않고 자동으로 숨겨지지 않도록 재지정  */
  -ms-overflow-style: scrollbar;
}

/*
 * Images and content
 */

img {
  vertical-align: middle;
  /* IE10 이하에서 링크 내 이미지 요소들에 테두리 제거 */
  border-style: none;
}

svg {
  /*
     * IE10/11 에서 오버플로우 되는 버그로 인해 필요
     * See https://github.com/twbs/bootstrap/issues/26878
     */
  overflow: hidden;
  vertical-align: middle;
}

/*
 * Tables
 */

table {
  /* Prevent double borders 테두리들이 맞 닿았을 때 합쳐지도록 설정 */
  border-collapse: collapse;
}

/* body 요소나 가장 가까운 부모로 부터 지정된 텍스트 정렬 요소를 상속해 td 요소 정렬과 일치 */
caption,
th {
  text-align: inherit;
}

/*
 * Forms
 */

/*
 * macOS Chrome 에서 추가되는 기본 border-radius  제거 
 * Details at https://github.com/twbs/bootstrap/issues/24093
 */
button {
  border-radius: 0;
}

/* Firefox/IE 에서 button 배경색이 투명일 때 기본 button 포커스 스타일이 손실되는 버그 피함
 * Credit: https://github.com/suitcss/base/
 */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  /* Edge 에서 overflow 보임  */
  overflow: visible;
}

button,
select {
  /* Firefox 에서 텍스트 변형 상속되는 것을 제거 */
  text-transform: none;
}

/* 1. Android 4 에서 기본 audio 와 video 컨트롤이 제거되는 WebKit 버그 제거 */
button,
[type="button"],
/* 1 */
[type="reset"],
[type="submit"] {
  /* iOS 와 Safari 에서 클릭 가능한 타입으로 스타일 정정  */
  -webkit-appearance: button;
}

/* Firefox 에서 안쪽 테두리와 여백 제거하고 Normalize 처럼 outline 을 복원하지 않음 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/* IE 10 이하에서 box sizing 정정 추가 및 padding 제거 */
input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  /* Mobile Safari 에서 line-height 설정시 텍스트가 input 내 수직 중양 정렬되지 않는 버그를 피하기 위해 시간 input 기본 모양 제거 
    // See https://bugs.webkit.org/show_bug.cgi?id=139848
    // and https://github.com/twbs/bootstrap/issues/11266
    */
  -webkit-appearance: listbox;
}

textarea {
  /* IE 에서 기본 수직 스크롤바 제거 */
  overflow: auto;
  /* textarea 는 수직으로만 리사이즈 되도록 설정 */
  resize: vertical;
}

fieldset {
  /*
     * fieldsets 은 min-width이 min-content 로 일반 블록 요소처럼 min-width 재지정
     * See https://github.com/twbs/bootstrap/issues/12359
     * and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
     * 페이지 레이아웃에 영향을 주지 않도록 기본 스타일 리셋
     */
  min-width: 0;
  padding: 0;
  border: 0;
}

/* 1. Edge 와 IE 에서 텍스트 래핑 정정 */
legend {
  display: block;
  width: 100%;
  /* 1 */
  max-width: 100%;
  margin-bottom: 0.5rem;
  padding: 0;
  font-size: 1.5rem;
  /* IE 에서 fieldset 요소로 부터 색상 상속하도록 정정 */
  color: inherit;
  line-height: inherit;
  /* 1 */
  white-space: normal;
}

progress {
  /* Chrome, Firefox, Opera 에서 vertical alignment 스타일 추가 */
  vertical-align: baseline;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  /* Chrome 에서 증감 버튼 커서 스타일 정정 */
  height: auto;
}

[type='search'] {
  /*
     * iOS 에서 검색 input 의 추가적인 둥근 코너를 오버라이드하여 
     * 기본 form-control 클래스 스타일이 적절히 스타일 적용될 수 있도록 함
     * https://github.com/twbs/bootstrap/issues/11586.
     * Safari 에서 outline 스타일 정정
     */
  outline-offset: -2px;
  -webkit-appearance: none;
}

/* 
 * macOS 에서 Chrome 과 Safari 에서 안쪽 여백 제거 
 */

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  /* iOS 와 Safari 에서 클릭가능한 타입으로 정정 */
  -webkit-appearance: button;
}

/*
* 요소 디스플레이 정정
*/

output {
  display: inline-block;
}

summary {
  /* 모든 브라우저에서 적절한 디스플레이 속성 추가 */
  display: list-item;
  cursor: pointer;
}

template {
  /* IE에서 필요 */
  display: none;
}

[hidden] {
  /* hidden 속성을 가진 HTML 요소는 항상 숨김 (from PureCSS), IE 10 이하에서 필요 */
  display: none !important;
}
