@charset "UTF-8";

/*
 * utils
 */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
}


/*
 * container
 */

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}


/*
 * align
 */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}


/*
 * grid
 */
.row {
    margin-left: -16px;
    margin-right: -16px;
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

[class*="col"] {
    float: left;
    padding-left: 16px;
    padding-right: 16px;
}

.col-xs-12 {
    width: 100%;
}

@media (min-width: 768px) {
    .col-md-5 {
        width: 41.6666%;
    }
}


/*
 * link
 */
.link--lined {
    text-decoration: underline;
}


/*
 * text
 */
.text-uppercase {
    text-transform: uppercase;
}